.title {
    font-size: 50px;
    color: blue;
}

@mixin flex-between{
    display: flex;
    justify-content: space-between;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
}

.app {
    width: 414px;
    height: 896px;
    padding: 32px 29px;
    background-color: black;
    border-radius: 40px;
}

.header {
    @include flex-between;
    p {
        color: white;
    }
}

.cover {
    display: flex;
    justify-content: center;
}

.song {
    color: white;
    padding: 0 40px;
    margin-top: -2.2rem;
}

.song-title {
    font-size: 26px;
}

.singer {
    font-size: 16px;
    opacity: 0.7;
}

.seek-bar {
    @include flex-center;
}

.slider {
    width: 400px;
}  

.song-timing {
    @include flex-between;
    // padding: 0 40px;
}


.song-reactions {
    @include flex-between;
    padding: 0 40px;
}

.song-reactions {
    margin-top: 30px;
    margin-bottom: 30px; 
}

.next-track {
    @include flex-center;
}

.next-track-wrapper {
    width: 364px;
    height: 100px;
    border-radius: 30px;
    background-color:rgba(18,18,18,255);
    padding: 1rem;
}

.track {
    @include flex-between;
    color: white;
    opacity: 70%;
    margin-top: 8px;

}

.track:first-child {
    line-height: 2;
    opacity: 100%;
}

.play-control {
    @include flex-between;
    padding: 30px;
    margin-top: 10px;
}


